#app {
  width: 100%;
  height: 100%;
}

#app header {
  width: 100%;
  height: 102px;
  border-bottom: 3px solid #FF6700;
}

#app header .head-mid {
  width: 1226px;
  height: 102px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app header .head-mid .logo-font {
  width: 300px;
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app header .head-mid .logo-font span {
  line-height: 102px;
  font-size: 36px;
  color: #333;
}

#app header .head-mid .login-reg a {
  display: inline-block;
  width: 34px;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  font-size: 12px;
  color: #B0B0B0;
}

#app header .head-mid .login-reg .shu {
  display: inline-block;
  width: 3px;
  height: 14px;
  background-color: #B0B0B0;
}

#app #shops-list {
  min-height: 862px;
  background-color: #F5F5F5;
  padding-top: 100px;
}

#app #shops-list .list-mid {
  background-color: #F5F5F5;
  width: 1226px;
  margin: 0 auto;
}

#app #shops-list .list-mid .list-head {
  width: 1226px;
  height: 70px;
  padding-right: 26px;
  display: flex;
  background-color: #fff;
  border-bottom: 2px solid #B0B0B0;
}

#app #shops-list .list-mid .list-head .checkbox {
  width: 110px;
  height: 70px;
  font-size: 16px;
  line-height: 70px;
  color: #333;
  padding-right: 26px;
  text-align: center;
}

#app #shops-list .list-mid .list-head .checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#app #shops-list .list-mid .list-head .imgbox {
  width: 120px;
  height: 70px;
}

#app #shops-list .list-mid .list-head .shopsname {
  width: 380px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #333;
}

#app #shops-list .list-mid .list-head .tshopsprice {
  width: 158px;
  height: 70px;
  line-height: 70px;
  color: #333;
  font-size: 16px;
  padding-right: 18px;
}

#app #shops-list .list-mid .list-head .tnum {
  width: 150px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

#app #shops-list .list-mid .list-head .totall {
  width: 201px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

#app #shops-list .list-mid .list-head .do {
  width: 80px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

#app #shops-list .list-mid .shops {
  min-height: 300px;
  width: 1226px;
  background-color: #fff;
}

#app #shops-list .list-mid .shops .shops-item {
  display: flex;
  padding-right: 26px;
  padding: 10px 0;
}

#app #shops-list .list-mid .shops .shops-item .checkbox {
  width: 110px;
  height: 70px;
  font-size: 16px;
  line-height: 70px;
  color: #333;
  padding-right: 26px;
  text-align: center;
}

#app #shops-list .list-mid .shops .shops-item .checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#app #shops-list .list-mid .shops .shops-item .imgbox {
  width: 120px;
  height: 70px;
}

#app #shops-list .list-mid .shops .shops-item .imgbox img {
  width: 80px;
  height: 80px;
}

#app #shops-list .list-mid .shops .shops-item .shopsname {
  width: 380px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #333;
}

#app #shops-list .list-mid .shops .shops-item .shopsprice {
  width: 158px;
  height: 70px;
  line-height: 70px;
  color: #333;
  font-size: 16px;
  padding-right: 18px;
}

#app #shops-list .list-mid .shops .shops-item .num {
  width: 150px;
  height: 70px;
  display: flex;
  align-items: center;
}

#app #shops-list .list-mid .shops .shops-item .num .numshops {
  width: 72px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  color: #B0B0B0;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
}

#app #shops-list .list-mid .shops .shops-item .num a {
  width: 38px;
  height: 38px;
  color: #B0B0B0;
  font-size: 24px;
  text-align: center;
  line-height: 38px;
  border: 1px solid #757575;
}

#app #shops-list .list-mid .shops .shops-item .num a:hover {
  background-color: #d4d3d3;
  transition: all .1s linear;
}

#app #shops-list .list-mid .shops .shops-item .totall {
  width: 201px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: red;
  text-align: center;
}

#app #shops-list .list-mid .shops .shops-item .do {
  width: 80px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app #shops-list .list-mid .shops .shops-item .do .del {
  width: 24px;
  height: 24px;
  font-size: 16px;
  color: #333;
  text-align: center;
  border-radius: 50%;
}

#app #shops-list .list-mid .shops .shops-item .do .del:hover {
  color: #fff;
  background-color: #f57c2b;
  transition: all .2s linear;
}

#app #shops-list .list-mid .list-foot {
  width: 1226px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#app #shops-list .list-mid .list-foot .left-section {
  width: 300px;
}

#app #shops-list .list-mid .list-foot .left-section a {
  line-height: 50px;
  font-size: 16px;
  margin-left: 32px;
  color: #B0B0B0;
  transition: all .2s linear;
}

#app #shops-list .list-mid .list-foot .left-section a:hover {
  color: #FF6700;
}

#app #shops-list .list-mid .list-foot .left-section p {
  line-height: 50px;
  padding-left: 20px;
  font-size: 16px;
  color: #B0B0B0;
  float: right;
}

#app #shops-list .list-mid .list-foot .left-section p strong {
  color: #FF6700;
}

#app #shops-list .list-mid .list-foot .right-section {
  width: 360px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#app #shops-list .list-mid .list-foot .right-section .price-totall {
  color: #FF6700;
  font-size: 16px;
  line-height: 50px;
}

#app #shops-list .list-mid .list-foot .right-section .price-totall strong {
  color: red;
  font-size: 24px;
}

#app #shops-list .list-mid .list-foot .right-section a {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #FF6700;
  text-align: center;
  line-height: 50px;
}

#app #shops-list .list-mid .list-foot .right-section a:hover {
  background-color: #f57c2b;
}
